<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">5-day forecast for {{forecast[0].name}}</h3>

  </div>
  <ul class="list-group">
    <li *ngFor="let dayForecast of forecast" class="list-group-item">
      {{dayForecast.timestamp * 1000 | date: 'EEEE'}}:
      {{dayForecast.conditions}}
      - Min: {{dayForecast.minTemp}}
      - Max: {{dayForecast.maxTemp}}

      <app-weather-icon [conditions]="dayForecast.conditions"></app-weather-icon>
    </li>
  </ul>
</div>