<div>
  <div class="well flex">
    <div>
      <h3>{{locationStatus.name}} ({{locationStatus.zipCode}})</h3>
      <h4>Current conditions: {{locationStatus.conditions}}</h4>
      <h4>Temperatures today:</h4>
      <p>
        Current {{locationStatus.temperature}}
        - Max {{locationStatus.maxTemp}}
        - Min {{locationStatus.minTemp}}
      </p>
      <p>
        <a [routerLink]="['/forecast', locationStatus.zipCode]">Show 5-day forecast for {{locationStatus.name}}</a>
      </p>
    </div>
    <div>
      <span class="close" (click)="onRemoveClick()">×</span>
      <app-weather-icon [conditions]="locationStatus.conditions"></app-weather-icon>      
    </div>
  </div>
</div>